 /* ======PROFILE CARD STYLING====== */

 /* -----1st box------- */

 h1{
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: blanchedalmond;
  text-align: center;
  font-size: 60px;
}
.card{
  background-color: purple;
  margin: 0;
  padding: 0;
}

.parent-1{
  display: flex;
   margin: auto;
}
 .child-1{
  background-color: aliceblue;
  width: 300px;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
 }
  .image-1{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: blue;
  border: 4px solid purple;
  margin: 8px auto;
  background-image: url(https://img.freepik.com/free-photo/portrait-smiling-handsome-man-eyeglasses_171337-4853.jpg?semt=ais_hybrid&w=740&q=80);
  background-size: cover;
  background-position: center;
  
  }
  .image-1:hover{
    border-radius: 12px;
    transition: all 2s ease 0s;

  }
  
  
  .text-1{
    text-align: center;
    margin: auto;
    height: 50px;
    background-color: beige;
    overflow-y: scroll;
  }
  .div-1{
    display: flex;
  }

  .btn-1{
    width: 130px;
    height: 40px;
    background-color: antiquewhite;
    border: 4px solid purple;
    color: purple;
    font-family: monospace;
    font-weight: bolder;
    border-radius: 12px;
  
  }
  .btn-1:hover{
    text-decoration: underline ;
    color: blue;
    border-radius: 20px;
  }
  .sub-1{
    width: 130px;
    height: 40px;
    background-color: purple;
    border: 4px solid purple;
    color: antiquewhite;
    font-family: monospace;
    font-weight: bolder;
    border-radius: 12px;
   
  }
  .sub-1:hover{
    text-decoration: underline ;
    color: darkgray;
    border-radius: 20px;
  }

/* -----2nd box------- */



 .child-2{
  background-color: aliceblue;
  width: 300px;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px; 
  padding: 10px;
 }
  .image-2{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: blue;
  border: 4px solid purple;
  margin: 8px auto;
  background-image: url(https://img.freepik.com/free-photo/brunette-business-woman-with-wavy-long-hair-blue-eyes-stands-holding-notebook-hands_197531-343.jpg?semt=ais_user_personalization&w=740&q=80);
  background-size: cover;
  background-position: center;
  
  }
  .image-2:hover{
    border-radius: 12px;
    transition: all 2s ease 0s;

  }
  .text-2{
    text-align: center;
    margin: auto;
     height: 50px;
    background-color: beige;
    overflow-y: scroll;
  }
  .div-2{
    display: flex;
  }

  .btn-2{
    width: 130px;
    height: 40px;
    background-color: antiquewhite;
    border: 4px solid purple;
    color: purple;
    font-family: monospace;
    font-weight: bolder;
    border-radius: 12px;
  
  }
  .btn-2:hover{
    text-decoration: underline ;
    color: blue;
    border-radius: 20px;
  }
  .sub-2{
    width: 130px;
    height: 40px;
    background-color: purple;
    border: 4px solid purple;
    color: antiquewhite;
    font-family: monospace;
    font-weight: bolder;
    border-radius: 12px;
   
  }
  .sub-2:hover{
    text-decoration: underline ;
    color: darkgray;
    border-radius: 20px;
  }

  /* --------3rd box------- */

 
 

 .child-3{
  background-color: aliceblue;
  width: 300px;
  height: 400px;
   margin-left: 20px; 
   padding: 10px;
 }
  .image-3{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: blue;
  border: 4px solid purple;
  margin: 8px auto;
  background-image: url(https://media.gettyimages.com/id/2042526830/photo/successful-businesswoman-using-laptop-working-in-office-business-technology-corporate-concept.jpg?s=612x612&w=gi&k=20&c=fcgSTdtt8O7-fuO7o2AkaD8C-_JNNJsbyiZzfAeSVGA=);
  background-size: cover;
  background-position: center;
  
  }
  .image-3:hover{
    border-radius: 12px;
    transition: all 2s ease 0s;

  }
  .text-3{
    text-align: center;
    margin: auto;
     height: 50px;
    background-color: beige;
    overflow-y: scroll;
  }
  .div-3{
    display: flex;
  }

  .btn-3{
    width: 130px;
    height: 40px;
    background-color: antiquewhite;
    border: 4px solid purple;
    color: purple;
    font-family: monospace;
    font-weight: bolder;
    border-radius: 12px;
  
  }
  .btn-3:hover{
    text-decoration: underline ;
    color: blue;
    border-radius: 20px;
  }
  .sub-3{
    width: 130px;
    height: 40px;
    background-color: purple;
    border: 4px solid purple;
    color: antiquewhite;
    font-family: monospace;
    font-weight: bolder;
    border-radius: 12px;
   
  }
  .sub-3:hover{
    text-decoration: underline ;
    color: darkgray;
    border-radius: 20px;
  }
  h2{
    text-align: center;
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: azure;
  font-size: 60px;
  
}
  



