
*{
    background-color: beige;
}

@font-face {
    font-family: regularfont;
    src: url(./assets/AtomicAge-Regular.ttf);
}


h1{
    font-family: regularfont;
    text-align:center;
    text-shadow: 10px 7px 5px rgb(255, 6, 48);
    color: rgba(231, 247, 6, 0.751);
    font-weight: bolder;
    font-size: 50px;
}
.style{

  font-family: "Zen Loop", cursive;
  font-weight: bolder;
  font-style: normal;
  text-indent: 40px;
  font-size: 28px;
}

.typo{

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 40px;
    font-size: 28px;
}
.text{
    text-transform: capitalize;
    text-decoration:underline;
    font-weight: bold;
    font-style: oblique;
     word-spacing: 1rem;
     font-size: 28px;
}
.decoration{
    line-height: 2em;
    letter-spacing: 0.5rem;
    font-size: 28px;
   
}
.decoration::first-line{
    font-weight: bolder ;
    font-size: 30px;
}
.decoration::first-letter{
    font-size: 4vw;
    
}

.color-1{
    height: 200px;
    width: 200px;
    background-color: #702a07;
    color: azure;

}
.color-2{
    height: 200px;
    width: 200px;
    background-color: #ae410b;
    color: azure;
}
.color-3{
    height: 200px;
    width: 200px;
    background-color: #F85E11;
    color: azure;
}
.color-4{
    height: 200px;
    width: 200px;
    background-color: #e7946b;
    color: azure;
}
.color-5{
    height: 200px;
    width: 200px;
    background-color: #ffb895;
    color: azure;
}
.shades{
    display: flex;
    
}
button{
    background-color: rgb(210, 237, 75);
    height: 38px;

}
a:link{
    font-size: 28px;
    color: rgb(210, 30, 30);
    text-decoration: none;
    text-transform: uppercase;
     background-color: rgb(210, 237, 75);

}

a:visited{
    color: rgb(255, 0, 234);
    font-size: 25px;
    text-decoration: underline wavy blue;
    text-transform: lowercase;
     background-color: rgb(210, 237, 75);


}
a:hover{
    text-decoration: underline rgb(90, 10, 8);
    color: rgb(90, 10, 15);
    font-size: 28px;
}

a:active{ 
    color: blueviolet;
    text-decoration: underline blue;
}