/* -----form styles---- */

.form{
    background-color: #1D2E52;
    color: azure;
    font-family: monospace;
}
.CourseName{
  width: 220px;
  padding: 8px;
  font-size: 16px;

}
button{
  font-family: "Quantico", sans-serif;
  font-weight: 400;
  font-style: normal;
    background-color: aqua;
    padding: 8px;
    margin: 10px;
}

.radio{
  text-align: right;
}

.file{
  text-align: right;
}

input[type="file"] {
  width: 250px;
  margin-top: 10px;
  font-size: 14px;
}

.button{
  background-color: #1D2E52;
  font-family: cursive;
  color: azure;
  padding: 8px;
  margin: 10px;
}

 div button{
  background-color: #3d5c9f;
  color: azure;

 }
 .delete{
  text-align: right;
 }

  a{
  font-family: "Quantico", sans-serif;
  font-weight: 700;
  font-style: italic;
} 

 