/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */

@media (max-width:1440px) {
  .bar-2{
    display:none
  }
  .glow-bottles{
    display: none;
  }
  .glow-text{
    width: 100%;
    text-align: center;
  }
  .glow-text button{
    width: 200px;
    height: 55px;
    padding: 20px;
  }
}
@media (max-width:1340px) {
   .parent{
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content: center;
    text-align: center ;
    margin: 0;
  }
  .child{
    width: 350px;
    height: 300px;
    margin: 0 auto;
  }
}
@media (max-width:1100px) {
  ul{
    display:none
  }
  .acne-main-content{
    flex-direction: column;
    align-items: center;
  }
  .AD-MAIN{
    padding: 30px 15px;
  }
  .AD-MAIN .up{
    font-size: 28px;
  }

  .AD-MAIN .up span{
    font-size: 16px;
  }

  .AD-MAIN .down{
    font-size: 30px;
  } 
    
  .guide-main-content{
    flex-direction: column;
    text-align: center;
  }
  .guide-text-part,
  .guide-img-part{
    width: 100%;
  }
 
}
@media (max-width:1023px) {
  .icons{
    display:none
  }
  .hamburger{
    display: block;
   flex-shrink: 0;
  } 
}
@media (max-width:890px) {
.T-cards-parent{
  column-count: 2;
}
.glow span{
  display: none;
}
  
}
@media (max-width:800px) {
 .glow-main-content{
width: 100%;
min-height: auto;
}
.glowpart {
    flex-direction: column;
    align-items: center;
  }
.glow-text {
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 35px; 
  }

  p {
    font-size: 18px;
  }
button{
  width: 80%;
}
.acne-main-content{
  align-items: center;
}
.acne-img-part img{
  width: 300px;
}
}
@media (max-width:620px) {
    h1, h2{
    font-size: 28px;
}
}


@media (max-width:590px) {
.T-cards-parent{
  column-count: 1;
}
.AD-MAIN{
  padding: 0 15px;
}
  .AD-MAIN .up{
    font-size: 22px;
  }
 .ex{
  padding-left: 150px;
 }
}
@media (max-width:460px) {
  .ex{
    padding-left: 100px;  
  }
  .glow-text{
    text-align: center;

  }
  .glow-text button{
    margin: 0 auto;
  }
}
@media (max-width:320px) {
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .ex{
    padding-left: 80px;
  }

}



