@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Miranda+Sans:ital,wght@0,400..700;1,400..700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}
html, body{
  overflow-x: hidden;
}
.wrapper {
  max-width: 1900px;
}
.main {
  max-width: 1500px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 30px;
  background-color: white;
  
}

/* navbar starts */
nav {
  width: 100%;
  height: 80px;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hamburger{
   display: none;
}
  
 
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  list-style-type: none;
}
.logo {
  padding: 15px;
}
ul li:hover {
  border-bottom: 2px solid black;
  cursor: pointer; 
}
.bar-2 {
  width: 100%;
  height: 35px;
  font-weight: 500;
  display: flex;
  gap: 600px;
}
ol {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  margin: 5px;
  gap: 10px;
  list-style-type: none;
}
ol li {
  width: 80px;
  height: 30px;
  text-align: center;
  padding: 7px;
  margin: 5px;
  border-radius: 5px;
  background-color: #efefef;
} 
/* navbar ended */

.glow-main-content {
  width: 100%;
 min-height: 500px; 
  background-color: #fff6fd;
  position: relative;
  top: 100px;
}
.glowpart {
  display: flex;
  justify-content: space-around;
}
.glowpart img{
  width: 55%;

}
.glow-text {
  padding: 60px;
}
.glow-bottles {
  margin-top: 4%;}
  
  .ex{
    margin-left: 240px;
  }
  h1, h2{
    font-size: 55px;
    color: rgb(10, 10, 10);
    font-family:sans-serif;
  }
  p{
    font-size: 25px;
    margin-top: 8px;
    line-height: 2;
  }
  .glow-text button{
  width: 165px;
  height: 40px;
  background-color: black;
  color: antiquewhite;
  border-radius: 30px;
  border: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 20px;
  padding-left: 10px;
  margin-top: 20px;
  }
  button span{
    padding-top: 2px;
  }
  /* glow-part-ended */
  .acne-main-content {
    width: 100%;
   min-height: 500px;
   gap: 20px;
   margin-top: 200px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: space-around;
  }
  h2{
    padding: 25px;
    font-weight: lighter;
  }
  .acne-img-part, .acne-text-part{
    width: 50%;
  }
  .acne-img-part img{
    width: 500px;
  }
  .acne-text-part .xtrag{
    font-size: 25px;
    line-height: 2;
    margin-top: 100px;
  
  }
  .acne-text-part button{
      width: 235px;
  height: 45px;
  background-color: rgb(252, 250, 250);
  color: #0b0b0b;
  border-radius: 30px;
  border: 1px solid rgb(13, 13, 13);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 20px;
  padding-left: 10px;
  margin-top: 20px;
  
  }
  /* acne-part-ended */
  .cards-content{
    width: 100%;
    min-height: 400px;
    background-color: beige;
     margin-top: 200px;
  }
  .card-header{
    display: flex;
    justify-content: space-between;
   
  }
  .card-header h2 {
font-size: 28px;
  }
  .card-header .underscore{
   text-decoration: underline;
  }
  .card-parent{
    width: 80%;
    min-height:380px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 30px ;
  }
  
  .card{
    width: 300px;
   height: 300px;
    background-color: #E4E4E4;
    border: 2px solid rgb(127, 123, 123);
    border-radius: 15px;
  }

  .head{
    width: 100%;
    height: 19%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .body{
    width: 100%;
   height: 50%;
  } 
  .bottom{
    width: 100%;
  height: 23%;
  background-color: white;
  margin-top: 25px;
  border-radius:0 0 13px 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .head p{
    font-size: 20px;
    margin-left: 10px;
    font-family: serif;
line-height: -3;      
  }
  .head p span{
  display: flex;
  gap: 0;
  }
.head span svg {
  display: block;
  width: 19px;
  height: 19px;
}
.heart{
  margin-right: 20px;
}
.body img{
  width: 180px;
  height: 160px;
 margin: 18px 58px;
}
.bottom .text-next-to-button{
  font-size: small;
 padding-left: 8px;
 padding-top: 5px;
}
.text-next-to-button del{
  color: gray;
}
.bottom button{
  width: 118px;
  height: 38px;
  background-color: #0b0b0b;
  color: white;
  border-radius: 30px;
  margin-right: 10px;
  align-items: center;
  text-align: center;
  padding-bottom:9px;
  border: 3px solid white;
}
.img2{
  width: 80px !important ;
  height: 230px !important;
  margin-top: -60px !important;
  margin-left: 100px !important;
}
.img-3{
  width: 74px !important;
  height: 215px !important;
    margin-top: -35px !important;
  margin-left: 110px !important;
}
.img-4{
  width: 125px !important;
  height: 210px !important;
   margin-top: -30px !important;
  margin-left: 78px !important;
}
.img-5{
  width: 100px !important;
  height: 210px !important;
   margin-top: -30px !important;
  margin-left: 84px !important;
}
.img-6{
  width: 110px !important;
  height: 190px  !important;
    margin-top: -10px !important;
  margin-left: 84px !important;
}
.testimonial-main{
    width: 100%;
    min-height: 700px;
    background-color: #E4E4E4;
     margin-top: 100px;
     
}
.testimonial-main h1{
  text-transform: capitalize;
  font-weight: 100;
  font-family: sans-serif;
  padding: 15px;
  margin: 15px;
}
.T-cards-parent{
   width: 80%;
    min-height:400px;
    column-count: 3;
    padding: 40px;
}
.t-cards{
  background: white;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: inline-block; 
  width: 100%;
}
.t-img img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.t-heading{
  margin-bottom: 10px;
  font-size: 20px;
}
.AD-MAIN{
   width: 100%;
    min-height: 300px;
    background-color: #E4E4E4;
     margin-top: 100px;
     background: #D1068C;
background: linear-gradient(90deg, rgba(209, 6, 140, 1) 0%, rgba(19, 16, 166, 1) 50%, rgba(126, 27, 92, 1) 100%);
color: white;
  padding:40px 20px;
  text-align: center;
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.AD-MAIN .up{
  font-size: 59px;
  font-weight: bold;

 
}
.AD-MAIN .up span{
   font-size:29px ;
   font-weight: lighter;
}
 .AD-MAIN .down{
  font-size: 85px;
  padding: 30px;
  margin-left: 150px;
 }
.AD-MAIN button{
   width: 235px;
  height: 45px;
  background-color: rgb(252, 250, 250);
  color: #0b0b0b;
  border-radius: 30px;
  border: 1px solid rgb(13, 13, 13);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 20px;
  padding-left: 30px;
  margin-top: 20px;
}

.guide-main-content {
    width: 100%;
   min-height: 300px;
   margin-top: 200px;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    

  }
  h2{
    font-size: 48px;
    padding: 25px;
    font-weight: lighter;
  }
  .guide-img-part, .guide-text-part{
    width: 50%;
  }
  .guide-img-part img{
  width: 500px;
 
  }
  .guide-text-part .xtrag{
    font-size: 25px;
    line-height: 2;
    margin-top: 100px;
  
  }
  .guide-text-part button{
      width: 275px;
  height: 50px;
  background-color: rgb(252, 250, 250);
  color: #0b0b0b;
  border-radius: 30px;
  border: 1px solid rgb(13, 13, 13);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 7px;
  padding: 10px;
  
  
  }
.footer{
  width: 100%;
   min-height: 300px;
   background-color: #0b0b0b;
}
.parent{
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  align-items: center;
  text-align: center;
}
.parent .child{
  width:350px;
  min-height: 300px;
    color: white;
    margin-right: 155px;
}
.child-1{
margin-top: 150px;
margin-left: 100px;
}

.child-2 ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

}
ul b{
  margin-bottom: 10px;
}
.child-3 ul{
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100px;
}
.child-2 ul li:hover {
  border-bottom: 2px solid rgb(254, 250, 250);
  cursor: pointer;
  
}
.child-3 ul li:hover {
  border-bottom: 2px solid rgb(254, 250, 250);
  cursor: pointer;
  
}
.child-4 p{
  font-size: 15px;
}
.input-box{ 
  width: 300px;
  position: relative;
}
.input-box input{
  width: 285;
height: 43px;
border-radius: 13px;
 padding: 12px 100px 12px 15px;
font-size: 15px;
}
.input-box button{
  width: 100px;
  height: 100%;
  background-color: #0b0b0b;
  color: white;
  border: 1px solid white;
  position: absolute;
  right: 8px;
  border-radius: 13px;
}




















/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */
/* -------------------------------- */

@media (max-width:1440px) {
  .bar-2{
    display:none
  }
  .glow-bottles{
    display: none;
  }
}
@media (max-width:1340px) {
   .parent{
    display: flex;
    flex-direction: column;
   
    align-items: center;
    justify-content: center;
    text-align: center ;
    margin: 0;
  }
  .child{
    width: 350px;
    height: 300px;
    margin: 0 auto;
  }
}
@media (max-width:1100px) {
  ul{
    display:none
  }
  .acne-main-content{
    flex-direction: column;
    align-items: center;
  }
  .AD-MAIN{
    padding: 30px 15px;
  }
  .AD-MAIN .up{
    font-size: 28px;
  }

  .AD-MAIN .up span{
    font-size: 16px;
  }

  .AD-MAIN .down{
    font-size: 30px;
  } 
    
  .guide-main-content{
    flex-direction: column;
    text-align: center;
  }
  .guide-text-part,
  .guide-img-part{
    width: 100%;
  }
 
}
@media (max-width:1023px) {
  .icons{
    display:none
  }
  .hamburger{
    display: block;
   margin-left: 300px;
  } 
}
@media (max-width:890px) {
.T-cards-parent{
  column-count: 2;
}
  
}
@media (max-width:800px) {
 .glow-main-content{
width: 100%;
min-height: auto;
}
.glowpart {
    flex-direction: column;
    align-items: center;
  }
.glow-text {
    padding: 20px;
    text-align: center;
  }
   .ex {
    margin-left: 0; 
  }

  h1 {
    font-size: 35px; 
  }

  p {
    font-size: 18px;
  }
button{
  width: 80%;
}
.acne-main-content{
  align-items: center;
}
.acne-img-part img{
  width: 300px;
}
}
@media (max-width:590px) {
.T-cards-parent{
  column-count: 1;
}
.AD-MAIN{
  padding: 0 15px;
}
  .AD-MAIN .up{
    font-size: 22px;
  }

  .AD-MAIN .down{
    font-size: 24px;
  }
}



